:root {
    --primary-color: #3b0062;
    --text-color: #fff;
    --accent-color: #f0f0f0;
    --bg-color: #f4f4f4;
}



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    /* min-height: 100vh; */
}

/* upper section of the page */

#main-header {
    background-color: var(--primary-color);
    color: white;
}

/* main section */
main {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0 1rem;
    text-align: center;
}

/* menu button */
#menu {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}



/* navbar css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

#header-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}


/* anchor tag styl */
.nav-links a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
    transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}


.nav-links a:hover {
    color: orangered;
    font-size: 20px;
    font-weight: 700;
}




/* figure display grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto; */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


/* figures */
figure {
    margin: 0;
    /* background: white; */
    padding: 10px;

}

figure img {
    width: 240px;
    height: auto;
}


footer {
    padding: 2rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    margin-top: 2rem;
}


/* media query stuff */

@media (max-width: 600px) {
    /* navigation needs to be modified */
    /* we will try to make the anchor tag disappear */

    /* the hamburger button should reappear */
    #menu {
        display: block;
    }

    /* make it appear */
    .nav-links {
        display: none; 
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        /* justify-content: center; */
        margin: 0 auto;
    }

    #header-title.hidden {
        display: none;
    }

}